@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Poppins:ital,wght@0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;1,300&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

/* Font Famillies

font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/

body {
    font-family: 'Lato', sans-serif;
}

#colors, #fonts, #text-styles {
    border: solid black 2px;
    margin: 20px;
    display: grid; 
}

/* Colors Section Styling */

#colors {
    text-align: center;
}

.navy {
    background-color: rgb(28, 12, 91);

}

.purple {
    background-color: rgb(61, 44, 141);
}

.night {
    background-color: rgb(145, 107, 191);
}

.warm {
    background-color: rgb(201, 150, 204);
}

.navy, .purple, .night, .warm {
    color: white;
}


/* Fonts Section Styling */

.roboto {
    font-family: 'Roboto', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;

}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;

}